html {
  background-color: green;
  background-image: url("../img/bjs.jpg");
  background-position: top;
  background-size: 50%;
  background-repeat: no-repeat;
}

#connected {
  font-size: 32px;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  bottom: 20%;
  left:42%;
}
