
#container{
  position:absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.depth{
  position:absolute;
  font-size: 3em;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 5;
}
.hook{
  position: absolute;
  width:100%;
  height: 100%;
  margin-left: -20px;
  margin-top:-50px;
  transform:translate(0%,-100%);
  background-image: url("../img/hook.svg");
  background-clip: content-box;
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 1;
}

.hook.pull-up{
  animation-name:pull-up;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
.hook.pause{
  animation-play-state: paused;
}

.oceanFloor{
  position: absolute;
  width:100%;
  height: 100%;
  background-image: url("../img/oceanFloor.svg");
  background-clip: content-box;
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 2;
  animation-name:floor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: bottom;
}

.sea{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image:url("../img/sea.svg");
  background-clip: content-box;
  background-position: top;
  background-size:cover;
}

.alga{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image:url("../img/alga.svg");
  background-clip: content-box;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size:contain;
  z-index: 2;
  animation-name:algae;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: bottom;
}

.bjs-bottle{
  /*margin-bottom: 200px;*/
  position: absolute;
  width: 100%;
  height: 100%;
  background-image:url("../img/bjs-bottle.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size:contain;
  z-index: 2;
}

.bjs-bottle.pull-up{
  animation-name:pull-up;
  animation-delay: 5s;
  animation-duration: 5s;
  animation-direction: reverse;
}

.bjs-bottle.pause{
  animation-play-state: paused;
}


.fish{
  margin-bottom: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  /*transform:rotate(180deg);*/
  background-image:url("../img/fish.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size:contain;
  animation: swim 30s infinite;
  animation-timing-function: linear;
}

.fish2{
    /*transform: scale(30%);*/
    background-size: cover;
    margin-bottom: 60px;
    animation: swim 60s infinite;
    animation-timing-function:cubic-bezier(.1, 0, .5, 1);
}

.fish3{
    transform: scale(20%);
    margin-bottom: 300px;
    background-position: bottom;
    animation: swim 120s infinite;
    animation-timing-function:cubic-bezier(.3, .2, .15, .2);
}

@keyframes swim {

  100% {transform: translateY(70px) translateX(-1400px)}
  90% {transform: translateY(70px) translateX(-1200px)}
  80% {transform: translateY(0px) translateX(-900px)}
  75% {transform: translateY(-60px) translateX(-600px)}
  50% {transform: translateY(-100px) translateX(-300px)}
  35% {transform: translateY(-20px) translateX(100px)}
  25% {transform: translateY(0px) translateX(500px)}
  10% {transform: translateY(-100px) translateX(800px)}
  0% {transform: translateY(-170px) translateX(1200px)}

}

@keyframes pull-up{
  0%{transform:translate(0%,-100%)}
  100%{transform:translate(0%,0%)}
}

@keyframes algae{
  0%{transform:rotateY(-10deg)}
  30%{transform:rotateY(10deg)}
  40%{transform:rotateY(0deg) skewX(-3deg)}
  60%{transform:rotateY(10deg) skewX(0deg)}
  80%{transform: skewX(3deg)}
  100%{transform:rotateY(-10deg)}
}

@keyframes floor{
  0%{transform:rotateY(-5deg) skewX(-2deg)}
  100%{transform:rotateY(3deg) skewX(3deg)}
}
